.services-section {
    padding: 80px 5%;
    text-align: center;
}

.section-title {
    color: #0d817c;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

/* Contenedor Flex para las cards */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* Baja las cards si no hay espacio */
}

/* Card con degradado industrial y borde sutil */
.service-card {
    border: 1px solid rgba(13, 129, 124, 0.3);
    background: linear-gradient(145deg, #1a1a1a, #0a0a0a);
    padding: 35px;
    width: 320px;
    text-align: left;
    transition: 0.3s;
}

.service-card:hover {
    border-color: #0d817c; /* Se ilumina al pasar el mouse */
    transform: translateY(-5px); /* Pequeño salto */
}

.card-img-placeholder {
    height: 120px;
    background-color: #111;
    border: 1px dashed #333;
    margin-bottom: 20px;
}