.shop-section {
    padding: 80px 5%;
    background-color: #eee;
    min-height: 100vh;
}

/* Uso de CSS Grid (Bidimensional) */
.products-grid {
    display: grid;
    /* Crea 3 columnas de igual tamaño */
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.product-item {
    background-color: #ff4500;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
}

/* Responsivo rápido para Grid: Si la pantalla es chica, pasa a 1 columna */
@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}